<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Categorie</h1>
    <a routerLink="/categorie" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> Liste Categorie</a>
</div>

<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Enregistrement de Categorie</h6>
    </div>
    <div class="card-body">
        <form th:method="post" th:action="@{/enregistrercategorie}" th:object="${categorieDTO}">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Code Categorie</label>
                    <input type="text" class="form-control" name="codeCat" required th:field="*{codeCat}"
                        id="inputEmail4" placeholder="Code Categorie">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword6">Nom Categorie</label>
                    <input type="text" class="form-control" name="nomCat" required th:field="*{nomCat}"
                        id="inputPassword6" placeholder="Nom Categorie">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword5">Description Categorie</label>
                    <input type="text" class="form-control" name="descriptionCat" required th:field="*{descriptionCat}"
                        id="inputPassword5" placeholder="Description Categorie">
                </div>
            </div>

            <div class="col text-right">
                <button type="reset" class="btn btn-warning">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>