<ng-container *ngIf="message">
    <div class="alert alert-dismissible fade show text-left message col-md-4 ml-auto"
        [ngClass]="{'alert-success': !isError, 'alert-danger': isError}" role="alert">
        {{ message }}
        <button type="button" class="close btn-sm" (click)="message = null" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</ng-container>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Etat Sortie Fourniture</h1>

</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Liste Sortie Fourniture</h6>

        <button (click)="exportexcel()" class="excel-button">Export Excel</button>
    </div>
    <div class="card-body">
        <div class="table-responsive table-wrapper">
            <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ref Sortie</th>
                        <th>Date Sortie</th>
                        <th>Employe</th>
                        <th>Fourniture</th>
                        <th>Qte Retirée</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sortie of sorties; let i = index;">
                        <td>{{i + 1}}</td>
                        <td>{{sortie.codeSort}}</td>
                        <td>{{sortie.dateSort}}</td>
                        <td>{{sortie.employe?.nomEmp}} - {{sortie.employe?.prenomEmp}}</td>
                        <td>{{sortie.fourniture?.nomFour}} {{sortie.fourniture?.mesureFour}}</td>
                        <td>{{sortie.qteSort }}</td>
                        <td>{{sortie.etatSort}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>